<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вклады клиента</title>
</head>
<body>
<h1>Вклады</h1>

<div th:if="${deposits.size() == 0}">
    <p>У вас нет вкладов.</p>
    <a th:href="@{/customers/{customerId}/deposits/open(customerId=${customerId})}">Открыть вклад</a>
</div>

<div th:if="${deposits.size() > 0}">
    <ul>
        <li th:each="deposit : ${deposits}">
            <a th:href="@{/deposit/{id}(id=${deposit.getId})}" th:text="${deposit.getId}">Номер вклада</a> - Сумма:
            <span th:text="${deposit.getAmount}">Сумма</span>
        </li>
    </ul>
</div>

<div>
    <a th:href="@{/customers/{customerId}/deposits/open(customerId=${customerId})}">Открыть вклад</a>
</div>

<br>
<!-- Кнопка "Назад" -->
<button onclick="goBack()">Назад</button>

<script>
        function goBack() {
            window.history.back();
        }


</script>
</body>
</html>