<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подбор условий вклада</title>
</head>
<body>
<h1>Подбор условий вклада</h1>

<form th:action="@{/customers/{customerId}/deposits/open(customerId=${customerId})}" method="post">
    <fieldset>
        <legend>Вид вклада</legend>
        <input type="radio" id="withRefillAndWithdrawal" name="depositTypeId" value="1" required>
        <label for="withRefillAndWithdrawal">С пополнением и снятием</label><br>

        <input type="radio" id="withRefillNoWithdrawal" name="depositTypeId" value="2" required>
        <label for="withRefillNoWithdrawal">С пополнением, но без снятия</label><br>

        <input type="radio" id="noRefillNoWithdrawal" name="depositTypeId" value="3" required>
        <label for="noRefillNoWithdrawal">Без пополнения и без снятия</label><br>
    </fieldset>

    <fieldset>
        <legend>Срок вклада</legend>
        <select name="period" required>
            <option value="3">3 месяца</option>
            <option value="6">6 месяцев</option>
            <option value="12">1 год</option>
        </select>
    </fieldset>

    <fieldset>
        <legend>Сумма вклада</legend>
        <label for="amount">Введите сумму (мин. 10,000.00 руб.)</label><br>
        <input type="number" id="amount" name="amount" min="10000" step="0.01" required>
    </fieldset>

    <fieldset>
        <legend>Выплата процентов</legend>
        <input type="radio" id="monthlyInterest" name="interestPaymentTypeId" value="1" required>
        <label for="monthlyInterest">Ежемесячно</label><br>

        <input type="radio" id="endOfTermInterest" name="interestPaymentTypeId" value="2" required>
        <label for="endOfTermInterest">В конце срока</label><br>

        <input type="radio" id="capitalization" name="interestPaymentTypeId" value="3" required>
        <label for="capitalization">Капитализация</label><br>
    </fieldset>

    <button type="submit">Открыть вклад</button>

    <div th:if="${error}">
        <p th:text="${error}" style="color:red;"></p>
    </div>
</form>

<br>
<!-- Кнопка "Назад" -->
<button onclick="goBack()">Назад</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>